## Component Testing

During the development of the combat director for the enemy AI, a separate level and world was used testing certain scenarios. This was tested on a test project solely devoted to testing certain aspects of our game. In the instance of the combat director, basic dummy pawns were configured with the combat director logic. Once this was set up, the player would then do different actions to trigger certain behaviors in the enemy AI. Examples of this scenarios include the player running away from the enemies or the player standing completely still. 

## System Testing

## Acceptance Testing
